@font-face {
    font-family: 'raleway-v22-cyrillic-300';
    font-weight: 300;
    font-style: normal;
    src: local('raleway-v22-cyrillic-300'),
        url('../fonts/raleway-v22-cyrillic-300.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'raleway-v22-cyrillic-900';
    font-weight: 900;
    font-style: normal;
    src: local('raleway-v22-cyrillic-900'),
        url('../fonts/raleway-v22-cyrillic-900.woff2') format('woff2');
    font-display: swap;
}