/* $bg: #f6f6f6; */

%raleway-300 {
    font-family: 'raleway-v22-cyrillic-300', sans-serif;
    font-weight: 300;
}

%raleway-900 {
    font-family: 'raleway-v22-cyrillic-900', sans-serif;
    font-weight: 900;
}